/* Using Google fonts poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* ----------------------------- common to all -------------*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: aqua;
}
main{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1050px;
    height: 474px;
    padding: 15px;
    background-color: white;   
   
}


/* ---------------------------------------------
                        First three cards section 
----------------------------------------------------*/
.first-three-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
.cards{
    width: 330px;
    height: 474px;  
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    /* border: 1px solid black; */
}

.card img{
    padding: 15px;
    padding-bottom: 0px;
    place-items: center;
     width: 300px;
   
}
.card-details{
    padding: 15px;
    padding-top: 0px;
}

/* ---------------------------------------------
                        Second  three cards section
----------------------------------------------------*/

.second-three-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
/* -------------------------------------------
                        Third  three cards section
----------------------------------------------------*/

.third-three-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
/* -------------------------------------------
                        last  three cards section
----------------------------------------------------*/

.last-three-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
/* -------------------------------------------
                       Footer part 
----------------------------------------------------*/
footer{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */

}
.foot-container{
    background-color:white;
    /* background-color: violet; */
    width: 484px;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 300px;
}

.social-icons .fab{
   font-size: 25px;
   padding-right: 10px;
}
.fab:hover{
   color:  #4267B2;
   /* font-size: 25px; */
   transform: rotate(180deg);
   transition: transform .5s;
  
}




