/* Using Google fonts poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* ----------------------------- common to all -------------*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: aqua;
    margin: 0;
    padding: 0;
}

/* -------------------------------- */

 /* ---------------------------------------
            Welcome Header Section 
------------------------------------ */

.head-container{
   
    /* width: 1520px; */
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    
    /* padding-left: 80px;
    margin-right: 140px; */
    padding-top: 153px;
}
.heading-details{
  margin-right: 102px;
   border: 2px solid white;
   width: 500px;
   height: 400px;   
}
.heading h1{
 margin-top: 70px;
 margin-bottom: 10px;
 color: white;
 font-size: 64px;
}
.heading-details> .live-button a{
    background-color: #e91f69;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    cursor: pointer;
   
}
.heading-details> .live-button:hover a {
    background-color: rgb(245, 8, 8);  
    transition: background-color .5s;
    
}

.body-details{
    width: 556px;
    height: 438px;
    border: 2px solid white;
}
.body-details img{
    width: 100%;
}
.body-details img:hover{
    transform:scale(1.3);
    transition: transform 1s ease-in;
}

        /* common for all section */
main{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1050px;
    height: 474px;
    padding: 15px;
    background-color: white;   
   
}



/* ---------------------------------------------
                        First three cards section 
----------------------------------------------------*/


.first-three-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
.cards{
    width: 330px;
    height: 474px;  
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    /* border: 1px solid black; */
}

.card img{
    padding: 15px;
    padding-bottom: 0px;
    place-items: center;
     width: 300px;
   
}
.card-details{
    padding: 15px;
    padding-top: 0px;
}

/* ---------------------------------------------
                        Second  three cards section
----------------------------------------------------*/

.second-three-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
/* -------------------------------------------
                        Third  three cards section
----------------------------------------------------*/

.third-three-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
/* -------------------------------------------
                        last  three cards section
----------------------------------------------------*/

.last-three-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
/* -------------------------------------------
                       Footer part 
----------------------------------------------------*/
footer{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */

}
.foot-container{
    background-color:white;
    /* background-color: violet; */
    width: 484px;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 300px;
}


.social-icons .fab{
   font-size: 25px;
   padding-right: 10px;
}
.social-icons a{
    text-decoration: none;
    color: #000;
}
.fab:hover{
   color:  #4267B2;
   /* font-size: 25px; */
   transform: rotate(180deg);
   transition: transform .5s;
  
}
/* -------------------------- -------------------
                    using media queries
---------------------------------------- */
@media only screen and (min-width: 688px) and (max-width:991px)
{
            .container{
                width: 660px;
                height: 100%;
            }
            .first-three-cards,.second-three-cards,.third-three-cards,.last-three-cards{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 24px;
            }
}
    @media only  screen and (max-width: 688px)
    {
        
        .container{
           width: 330px;
           height: 100%;         
        }
        .first-three-cards,.second-three-cards,.third-three-cards,.last-three-cards{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 24px;
        }

         /* for ipad devices 689 to 991px */
       /* @media only screen and (max-width:991px) */
      

           
       






                    /* FOR MOBILE DEVICE */
/* 
@media (max-width:668px)
{
    .head-container{
        width: 360px;
        height: 695px;
        margin-left: 0;
        margin-top: 0;
        /* background-color: palevioletred; */
        /* display: grid;
        grid-template-columns: repeat(1 ,1fr);
    } */
    /* .heading-details{
        margin-left: 18px;
        margin-top: -112px;
    }
    .heading h1{
        font-size: 34px;
        
        
    }
    .body-details img{
        width: 60%;
        margin-left: 20px;
    }
    
     .first-three-cards{
               background-color: green;
     }
     
  }    */
   
  
  /* ------------------ CARDS SECTION----- */
   




